[Unit]
Description=rock5c_fan_pwm
Requires=multi-user.target
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/rock5c_fan_pwm
Restart=always

[Install]
WantedBy=multi-user.target
